@import "tailwindcss";

@layer base {
  * {
    @apply min-w-0;
  }
  html {
    text-rendering: optimizelegibility;
  }
  body {
    @apply bg-stone-50 text-stone-950;
    @apply text-lg leading-relaxed -tracking-[0.015em] antialiased;
  }
}