@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  --foreground: var(--color-zinc-900);
  --foreground-light: var(--color-zinc-600);
  --foreground-lighter: var(--color-zinc-500);

  --background: var(--color-white);
  --secondary: var(--color-zinc-100);

  --border: var(--color-zinc-200);
  --border-dark: var(--color-zinc-400);

  --success: var(--color-emerald-600);
  --warning: var(--color-amber-600);
  --error: var(--color-rose-600);
}

.dark {
  --foreground: var(--color-white);
  --foreground-light: var(--color-zinc-300);
  --foreground-lighter: var(--color-zinc-400);

  --background: var(--color-zinc-950);
  --secondary: var(--color-zinc-800);

  --border: var(--color-zinc-700);
  --border-dark: var(--color-zinc-500);

  --success: var(--color-emerald-400);
  --warning: var(--color-amber-400);
  --error: var(--color-rose-400);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-foreground-lighter: var(--foreground-lighter);
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
    @apply min-w-0;
  }

  body {
    text-rendering: optimizelegibility;
    font-feature-settings: "kern", "ss02";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium text-foreground;
  }

  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    @apply mt-6;
  }

  p a,
  ul a {
    @apply border-b inline-block leading-[1.3] transition-colors hover:border-border-dark;
  }

  a code {
    @apply transition-colors hover:bg-border;
  }

  a:has(code) {
    @apply border-none!;
  }

  p code {
    @apply bg-secondary px-1 py-0.5 rounded-md text-sm -translate-y-px;
  }

  details {
    @apply grid gap-2;
  }

  article code:not(pre code),
  article kbd {
    @apply bg-secondary px-1 py-0.5 rounded-md text-sm -translate-y-px;
  }

  article kbd {
    @apply border;
  }

  article ul {
    @apply list-disc pl-4;
  }

  article ol {
    @apply list-decimal pl-4;
  }

  article hr {
    @apply my-4;
  }

  article .react-tweet-theme {
    @apply !m-0 !max-w-none !border-border/50;
  }

  article blockquote {
    @apply border-l-4 border-border/50 pl-4 italic;
  }

  article [class*="quoted-tweet-container"] {
    @apply !hidden;
  }

  article sup a {
    @apply text-foreground-lighter text-xs border-none;
  }

  strong {
    @apply font-medium;
  }

  code,
  kbd,
  samp,
  pre {
    @apply font-mono;
  }

  .shiki {
    @apply bg-secondary/50 border border-border/50 rounded-lg my-4;
    @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
  }

  .shiki span {
    @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
  }

  .shiki code {
    @apply overflow-x-auto p-3 text-[13px];
    display: inherit;
    counter-reset: line;
  }

  .shiki .line:before {
    content: counter(line);
    counter-increment: line;

    @apply inline-block w-3 mr-8 text-xs text-right text-foreground-lighter;
  }

  .shiki[title]:before {
    content: attr(title);
    @apply text-xs text-foreground-lighter mb-0 block border-b p-3;
  }

  .footnotes {
    @apply text-foreground-lighter text-sm mt-12;
  }

  .footnotes h2 {
    @apply sr-only;
  }
}
