/* stylelint-disable selector-class-pattern */

:root {
  --syntax-text-color: #f8f8f2;
  --syntax-comment-color: #808080;
  --syntax-declaration-color: #f39c12;
  --syntax-literal-color: #dda0dd;
  --syntax-error-color: #f9690e;
  --syntax-name-color: #7ed07e;
  --syntax-string-color: #f2ca27;
}

.highlight__panel {
  @apply hidden;
}

.highlight {
  @apply grid;

  color: var(--syntax-text-color);

  & .hll {
    background-color: #49483e;
  }

  & .c {
    color: var(--syntax-comment-color);
  }

  & .err {
    text-shadow: 0 0 7px var(--syntax-error-color);
  }

  & .k {
    color: var(--syntax-declaration-color);
  }

  & .l {
    color: var(--syntax-literal-color);
  }

  & .n {
    color: var(--syntax-text-color);
  }

  & .o {
    color: var(--syntax-error-color);
  }

  & .p {
    color: var(--syntax-text-color);
  }

  & .ch {
    color: var(--syntax-comment-color);
  }

  & .cm {
    color: var(--syntax-comment-color);
  }

  & .cp {
    color: var(--syntax-comment-color);
  }

  & .cpf {
    color: var(--syntax-comment-color);
  }

  & .c1 {
    color: var(--syntax-comment-color);
  }

  & .cs {
    color: var(--syntax-comment-color);
  }

  & .gd {
    color: var(--syntax-error-color);
  }

  & .ge {
    font-style: italic;
  }

  & .gi {
    color: var(--syntax-name-color);
  }

  & .gs {
    font-weight: var(--fw-bold);
  }

  & .gu {
    color: var(--syntax-comment-color);
  }

  & .kc {
    color: var(--syntax-declaration-color);
  }

  & .kd {
    color: var(--syntax-declaration-color);
  }

  & .kn {
    color: var(--syntax-error-color);
  }

  & .kp {
    color: var(--syntax-declaration-color);
  }

  & .kr {
    color: var(--syntax-declaration-color);
  }

  & .kt {
    color: var(--syntax-declaration-color);
  }

  & .ld {
    color: var(--syntax-string-color);
  }

  & .m {
    color: var(--syntax-literal-color);
  }

  & .s {
    color: var(--syntax-string-color);
  }

  & .na {
    color: var(--syntax-name-color);
  }

  & .nb {
    color: var(--syntax-text-color);
  }

  & .nc {
    color: var(--syntax-name-color);
  }

  & .no {
    color: var(--syntax-declaration-color);
  }

  & .nd {
    color: var(--syntax-name-color);
  }

  & .ni {
    color: var(--syntax-text-color);
  }

  & .ne {
    color: var(--syntax-name-color);
  }

  & .nf {
    color: var(--syntax-name-color);
  }

  & .nl {
    color: var(--syntax-text-color);
  }

  & .nn {
    color: var(--syntax-text-color);
  }

  & .nx {
    color: var(--syntax-name-color);
  }

  & .py {
    color: var(--syntax-text-color);
  }

  & .nt {
    color: var(--syntax-error-color);
  }

  & .nv {
    color: var(--syntax-text-color);
  }

  & .ow {
    color: var(--syntax-error-color);
  }

  & .w {
    color: var(--syntax-text-color);
  }

  & .mb {
    color: var(--syntax-literal-color);
  }

  & .mf {
    color: var(--syntax-literal-color);
  }

  & .mh {
    color: var(--syntax-literal-color);
  }

  & .mi {
    color: var(--syntax-literal-color);
  }

  & .mo {
    color: var(--syntax-literal-color);
  }

  & .sa {
    color: var(--syntax-string-color);
  }

  & .sb {
    color: var(--syntax-string-color);
  }

  & .sc {
    color: var(--syntax-string-color);
  }

  & .dl {
    color: var(--syntax-string-color);
  }

  & .sd {
    color: var(--syntax-string-color);
  }

  & .s2 {
    color: var(--syntax-string-color);
  }

  & .se {
    color: var(--syntax-literal-color);
  }

  & .sh {
    color: var(--syntax-string-color);
  }

  & .si {
    color: var(--syntax-string-color);
  }

  & .sx {
    color: var(--syntax-string-color);
  }

  & .sr {
    color: var(--syntax-string-color);
  }

  & .s1 {
    color: var(--syntax-string-color);
  }

  & .ss {
    color: var(--syntax-string-color);
  }

  & .bp {
    color: var(--syntax-text-color);
  }

  & .fm {
    color: var(--syntax-name-color);
  }

  & .vc {
    color: var(--syntax-text-color);
  }

  & .vg {
    color: var(--syntax-text-color);
  }

  & .vi {
    color: var(--syntax-text-color);
  }

  & .vm {
    color: var(--syntax-text-color);
  }

  & .il {
    color: var(--syntax-literal-color);
  }
}
