@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

html {
  text-rendering: optimizelegibility;
}

/* https://github.com/vercel/geist-font/issues/65#issuecomment-1837402864 */
html,
body {
  font-synthesis-weight: none;
}

body {
  min-height: 100dvh;
}

::selection {
  @apply bg-blue-500 text-white;
}
