@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

html {
  text-rendering: optimizelegibility;
}

body {
  min-height: 100dvh;
}

::selection {
  @apply bg-blue-500 text-white;
}
